@model Curate.Data.Models.VideoPlaylist

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
                                <div class="wp-block-embed__wrapper">
                                    <iframe title="Nice Title" width="750" height="422" src="https://www.youtube.com/embed/dDTTMpWupXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                                </div><figcaption> Nice Blurb </figcaption>
                            </figure>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="Asides/_VideoAside" />
        </div>
    </div>