@model Curate.Data.Models.VideoChannel
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create Channel</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-action="CreateChannel">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Url" class="control-label"></label>
                            <input asp-for="Url" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="control-label"></label>
                            <input asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Blurb" class="control-label"></label>
                            <input asp-for="Blurb" class="form-control" />
                            <span asp-validation-for="Blurb" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ChannelCreationDate" class="control-label"></label>
                            <input asp-for="ChannelCreationDate" class="form-control" />
                            <span asp-validation-for="ChannelCreationDate" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
