@model Curate.Data.Models.VideoChannel

@{
    ViewData["Title"] = "CreateChannel1";
}

<h1>CreateChannel1</h1>

<h4>VideoChannel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateChannel1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blurb" class="control-label"></label>
                <input asp-for="Blurb" class="form-control" />
                <span asp-validation-for="Blurb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedDate" class="control-label"></label>
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChannelCreationDate" class="control-label"></label>
                <input asp-for="ChannelCreationDate" class="form-control" />
                <span asp-validation-for="ChannelCreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubeChannelId" class="control-label"></label>
                <input asp-for="YoutubeChannelId" class="form-control" />
                <span asp-validation-for="YoutubeChannelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
