@using Curate.Web.Views.Shared.Components.HeaderLeft
@using Curate.Web.Views.Shared.Components.HeaderRight
<nav class="main-header navbar navbar-expand-md navbar-white navbar-light">
    <div class="container">
        @(await Component.InvokeAsync<HeaderLeftViewComponent>())
        @(await Component.InvokeAsync<HeaderRightViewComponent>())
    </div>
</nav>